{% extends './new.html' %}

{% load static %}
{% block title %}| Poem {% endblock %}

{% block body %}
    
    
    <div class="container-fluid  mb-5">
        
        <center><div class="mt-4">
            <h3 class="mb-3">....POETRY WITH OR WITHOUT PURPOSE....</h3>
            <img src="{% static '6.jpg' %}" style="width: 100%; height:400px;">
            
        </div></center>
  
        <div class="container-fluid row">
        <div class="col-sm-6 m-4" style="border-style: solid; color: grey;">
            <h5 style="color: rgb(18, 134, 86);" class="mt-2">Poetry We Recommends....</h6>
            <center><div class= "mt-3 mb-4" style="border-style: dashed; color: black;">
                <h6 class="mt-2">Dr. Harivans Rai Bachan- Collection</h6>

            </div>
            <div class= "mt-4 mb-4" style="border-style: dashed; color: black;">
                <h6 class="mt-2">Dr. Kumar Viswas- Collection</h6>
            </div>
            <div class= "mt-4 mb-4" style="border-style: dashed; color: black;">
                <h6 class="mt-2">Dr. Rahat Indoori- Collection</h6>
            </div>
            <div class= "mt-4 mb-4" style="border-style: dashed; color: black;">
                <h6 class="mt-2">Dr. Vishnu Saxena- Collection</h6>
            </div>
            <div class= "mt-4 mb-4" style="border-style: dashed; color: black;">
                <h6 class="mt-2">Dr. Anamika Verma- Collection</h6>
            </div>
            <div class= "mt-4 mb-4" style="border-style: dashed; color: black;">
                <h6 class="mt-2">Kalidas- Collection</h6>
            </div>
            <div class= "mt-4 mb-5" style="border-style: dashed; color: black;">
                <h6 class="mt-2">Meerja Galib- Collection</h6>
            </div></center>
        </div>
      
        <div class="col-sm-5 m-4" >
          <div class="mb-3" style="border-style: solid; color: grey;">
            <h2 style="color: rgb(103, 103, 163);">LINKS WE LOVE----</h2>
            <ul>
                <li>
                    <p>Mai Wahi Pe Khada Tumko Mil Jaunga</p>
                </li>
                <li>
                    <p>Jo Tum Smjho To Moti hai Jo na Smjho TO Pani hai</p>
                </li>
                <li>
                    <p>Bulati Hai Magar Jane ka Nhi</p>
                </li>
                <li>
                    <p>Sishe Ka Samandr</p>
                </li>
                <li>
                    <p>Koi Jb Tumhara Hriday Tod De</p>
                </li>
                
            </ul> 
        </div>
        <div class="mt-3" style="border-style: solid; color: grey; height: 49%;">
          <h3>Featured Poem</h3>
          <img class="mb-2" style="width: 100%; height: 180px;" src="{% static '3.jpg' %}">
        </div>
        </div>
    </div>

{% endblock %}
 
  
   